.btn:hover {
    background-color: RoyalBlue;
}
.custom-button {
    width: 120px;
    margin: auto;
    padding: 10px;
}
.custom-button-left {
    text-align: center;
    left: 100px;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
}
.custom-button-center-left {
    text-align: center;
    left: 300px;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
}
.custom-button-center-right {
    text-align: center;
    left: 500px;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
}
.custom-button-right {
    text-align: center;
    left: 700px;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
}
.custom-button-center {
    text-align: center; 
    display: flex; 
    justify-content: center; 
    margin: auto;
    width: 300px; 
    height: 40px;
}
.center-text {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 40px;
}

.div-wrapper {
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    padding: 10px;
    margin: 10px;
}
